<div class="sidebar-menu toggle-others fixed">
    <div class="sidebar-menu-inner">
        <header class="logo-env">
            <div class="logo">
                <a class="logo-expanded" href="/">
                    <img src="/assets/images/logo@2x_nologo.png" alt height="40">
                </a>
                <a class="logo-collapsed" href="/">
                    <img src="/assets/images/logo-collapsed@2x.png" alt height="40">
                </a>
            </div>
            <div class="mobile-menu-toggle visible-xs">
                <a data-toggle="mobile-menu" href="#">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
        </header>
        {{ if .IsPage }}
            {{ partial "sidebar/page.html" . }}
        {{else}}
            {{ partial "sidebar/main.html" . }}
        {{ end }}
    </div>
</div>
